@font-face {
    font-family: 'N_T';
    src: url('SF-Mono.dmg') format('truetype');
}

body{
	margin: 0;
	font-family: N_T;
}

h1{
	padding: 20px 0;
	text-align: center;
	color: white;
	line-height: 1.1;
	background-color: steelblue;
	margin: 0;
	font-weight: normal;
	text-transform: uppercase;
}

#stripe{
	background-color: silver;
	height: 10px;
	text-align: center;
}

.btn{
	display: inline-block;
	width: 76px;
	border: 1px solid transparent;
	padding: 10px 0;
	margin: 5px 0;
	border-radius: 5px;
	background: #00b5cc;
	text-align: center;
	font-family: N_T;
	outline-color: transparent;
	transition: all 0.2s;
}

.no-num{
	background-color: #22313f;
	color: white;
}

#back {
	width: 156px;
}

#clear {
	width: 156px;
}

.effect{
	opacity: 0.7;
}

.btn:hover {
	filter: opacity(0.7);
	cursor: pointer;
}

#container {
	margin: 1% auto;
	max-width: 400px;
}

.input-1{
	margin: 0 0 0 1px;
	display: inline-block;
	width: 98%;
	height: 30px;
	border: 1px solid #909090;
	border-radius: 5px;
}
.input{
	width: 92%;
	height: 80%;
	margin: 1px 0 0 10px;
	border: 1px solid transparent;
	outline-color: transparent;
}
