@font-face {
    font-family: 'N_T';
    src: url('SF-Mono.dmg') format('truetype');
}

.btn{
	display: inline-block;
	width: 20%;
	border: 1px solid transparent;
	padding: 10px 0;
	margin: 5px 0;
	border-radius: 5px;
	background: #add8e6;
	text-align: center;
	outline-color: transparent;
	font-family: N_T;
	transition: all 0.2s;
}

.effect{
	filter: brightness(90%);
}

.btn:hover {
	filter: brightness(90%);
	cursor: pointer;
}

#container {
	margin: 1% auto;
	max-width: 400px;
}

.input-1{
	margin: 0 0 0 1px;
	display: inline-block;
	width:82.5%;
	height: 30px;
	border: 1px solid #909090;
	border-radius: 5px;
}
.input{
	width: 92%;
	height: 80%;
	margin: 1px 0 0 10px;
	border: 1px solid transparent;
	outline-color: transparent;
}
